.graphContainer {
  display: flex;
  flex-direction: row;
}

.graphContainer > table {
  table-layout: fixed;
  width: 100vw;
}
.barContainer {
  border: none;
  padding: 0;
  vertical-align: bottom;
}

.bar {
  width: 50%;
  display: inline-block;
  border: none;
}
.expenseBar {
  background-color: red;
}
.incomeBar {
  background-color: green;
}

.periodContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 1.5em;
  border: none;
}

.periodLabel {
  margin-bottom: 0;
}
