.graphContainer{
    display: flex;
    flex-direction: row;
}



.barContainer{
    border: none;
    padding: 0;
    vertical-align: bottom;
}

.bar{
    width: .5em;
    display: flex;
    border: none;
}
.expenseBar{
    background-color: red;
    
}
.incomeBar{
    background-color: green;
}

.periodContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1.5em;
    border: none;
}

.periodLabel{
    margin-bottom: 0;
}